{{> admin/admin-header }}

<body class="animstion" id="page-top">
<!-- Navigation-->
{{> admin/admin-topNav}}





<div class="page-wrapper">
   
    {{> admin/messages}}
    
    
    {{{body}}}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    
    
    
    
{{> admin/admin-footer}}    
</div>
</body>

</html>
