{{> index/header }}

<body >

    <!-- Navigation -->
    {{> index/top-navigation }}

    <!-- Page Content -->
    {{> index/messages}}

<div class='container'>
        {{{ body }}}

</div>


    <!-- /.container -->
    {{> index/footer }}
</body>
