{{> index/header }}

<body >

    <!-- Navigation -->
    {{> index/top-navigation }}

    <!-- Page Content -->
    {{> index/messages}}

        {{{ body }}}



    <!-- /.container -->
    {{> index/footer }}
</body>
