{{> index/header }}

<body>

    <!-- Navigation -->
    {{> index/top-navigation }}

    <!-- Page Content -->
    {{> index/messages}}

    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    {{{ body }}}



    <!-- /.container -->
    {{> index/footer }}
</body>