<div class="col-md-6 offset-md-3">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-text">Oops  Post is Not Found</h1>
            <a href="/">Go Back To Home</a>
        </div>
    </div>
</div>