<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="copywrite-area">
        <div class="container">
            <div class="row">
                <!-- Copywrite Text -->
                <div class="col-12 col-sm-6">
                    <p class="copywrite-text">
                        Copyright &copy;
                        <script>document.write(new Date.getFullYear());</script> All rights reserved | Elixir
                        Blog
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">Privacy</a></li>
                            <li><a href="/advert">Advertisement</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

<script type="text/javascript" src="/js/froala_editor.min.js"></script>
<script type="text/javascript" src="/js/plugins/align.min.js"></script>
<script type="text/javascript" src="/js/plugins/char_counter.min.js"></script>
<script type="text/javascript" src="/js/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="/js/plugins/code_view.min.js"></script>
<script type="text/javascript" src="/js/plugins/colors.min.js"></script>
<script type="text/javascript" src="/js/plugins/draggable.min.js"></script>
<script type="text/javascript" src="/js/plugins/emoticons.min.js"></script>
<script type="text/javascript" src="/js/plugins/entities.min.js"></script>
<script type="text/javascript" src="/js/plugins/file.min.js"></script>
<script type="text/javascript" src="/js/plugins/font_size.min.js"></script>
<script type="text/javascript" src="/js/plugins/font_family.min.js"></script>
<script type="text/javascript" src="/js/plugins/fullscreen.min.js"></script>
<script type="text/javascript" src="/js/plugins/image.min.js"></script>
<script type="text/javascript" src="/js/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="/js/plugins/line_breaker.min.js"></script>
<script type="text/javascript" src="/js/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="/js/plugins/link.min.js"></script>
<script type="text/javascript" src="/js/plugins/lists.min.js"></script>
<script type="text/javascript" src="/js/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="/js/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="/js/plugins/quick_insert.min.js"></script>
<script type="text/javascript" src="/js/plugins/quote.min.js"></script>
<script type="text/javascript" src="/js/plugins/table.min.js"></script>
<script type="text/javascript" src="/js/plugins/save.min.js"></script>
<script type="text/javascript" src="/js/plugins/url.min.js"></script>
<script type="text/javascript" src="/js/plugins/video.min.js"></script>
<script type="text/javascript" src="/js/plugins/help.min.js"></script>
<script type="text/javascript" src="/js/plugins/print.min.js"></script>
<script type="text/javascript" src="/js/third_party/spell_checker.min.js"></script>
<script type="text/javascript" src="/js/plugins/special_characters.min.js"></script>
<script type="text/javascript" src="/js/plugins/word_paste.min.js"></script>
<!-- Bootstrap core JavaScript -->
<!-- jQuery-2.2.4 js -->
<script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=5f0292642f9b510012b4b627&product=sticky-share-buttons&cms=sop'
    async='async'></script>
<script type="text/javascript" src="/js/sweetalert.min.js"></script>
<script type="text/javascript">
    (function () {
        new FroalaEditor("#edit", {
            // Set the file upload URL.
            imageUploadURL: 'uploadimage',

        })
    })()

</script>
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert').slideUp(1000);
        }, 1000);
    });
</script>
</body>

</html>